#### 자료구조 : set = 집합
- 서로 다른 그룹 간 연산 작업을 보다 쉽게 하기 위한 목적으로 탄생된 자료구조 (교집합, 차집합 그룹간 어떤 ~~)
- set() // list() // tuple() // dict()
- 리스트 (*각각의 세부값에 인덱스 값을 부여, 이터러블한 객체, 반복문)
- 튜플 (*각각의 세부값에 인덱스 값을 부여, 이터러블한 객체, 반복문)
- 딕셔너리 (*각각의 세부값에 인덱스 값을 부여x, 이터러블한 객체x, 반복문x)
- 집합;set (*반복문이 가능하니까 이터러블함, 하지만 인덱스 값을 부여받지 않음)
- 이 네가지는 각각의 장단점이 있습니다!
##### set 핵심
- 크롤링 시, 찾아온 값이 거의 대부분 리스트 형태로 들어옴!!! => 굳이 반복적으로 불필요하게 값을 찾아오는 경우가 부지기수 => 중복된 값을 하나로 정리하는 기능을 가장많이 사용

In [1]:
data_set01 = set()
type(data_set01)

set

In [2]:
data_set02 = {"apple", "dell", "samsung", "lg"} # {} set, dict 다 가능  # () tuple # [] list
data_set02

{'apple', 'dell', 'lg', 'samsung'}

In [3]:
data_set03 = set("apple") # -> 값이 하나기 때문에 오케이
data_set03

{'a', 'e', 'l', 'p'}

In [4]:
data_set04 = set("sm","jyp") # set ()는 인자값 복수는 안돼요..! 이럴땐 = {} 쓰기
data_set04

TypeError: set expected at most 1 argument, got 2

In [9]:
data_set04 = {"sm", "jyp"}
data_set04

{'jyp', 'sm'}

In [10]:
for data in data_set02 :
    print(data)

lg
apple
dell
samsung

In [11]:
# data_set02[0] # 인덱스 값이 없어요~

TypeError: 'set' object is not subscriptable

In [13]:
"motorola" in data_set02 # data_set02에 motorala가 있나요? 뜻

print("motorola" in data_set02)
print("apple" in data_set02)

False
True

In [15]:
data04 = {"피카츄", "라이츄", "꼬북이"}
data05 = {"잠만보", "파이리", "피카츄"}

In [17]:
data04 & data05 # 그룹간 비교해서 동일한 값 도출 -> 교집합

{'피카츄'}

In [18]:
data04 | data05 # | 합집합!

{'꼬북이', '라이츄', '잠만보', '파이리', '피카츄'}

#### set이 나온 근본적 이유는, 데이터 중복처리 배제!

In [19]:
data04 - data05 # 차집합

{'꼬북이', '라이츄'}

In [20]:
data05 - data04

{'잠만보', '파이리'}

In [21]:
data04 ^ data05 # ^ 는 교집합을 제외한 나머지를 찾아오자! "캐럿"

{'꼬북이', '라이츄', '잠만보', '파이리'}