#### 문자열 관련 함수 리스트
- count : 문자열 객체 안에 있는 특정 문자 갯수 세기
- index : 문자열에 있는 특정 문자으 인덱스 위치를 알려주기
- find : 문자열에 있는 특정 문자의 인덱스를 찾아오긴 하나, 만약 존재하지 않는다면 에러를 발생하지 않고 -1을 발생, 1은 발생시키지 않는다
- join : 문자열 사이에 다른 문자를 끼워 넣기
- strip : 문자열 앞뒤에 공백을 지우기
- upper : 소문자를 대문자로 변경하기
- lower : 대문자를 소문자로 변경하기
- split : 문자열 내 특정 문자를 기준으로 나누기
- replace :

In [8]:
data = "Dave David" # => 문자열 = 문자
data.count("Dave")
data.count("D")

2

In [13]:
string = "Dave ID is dave"
string.index("D")
string.index("d")
#string.index("x")

11

In [21]:
string01 = "Dave ID is dave"
string01.find("x")
string01.find("a")
if string01.find("x")== -1 :
    print("x는 string 문자열 객체 안에 없습니다.")

x는 string 문자열 객체 안에 없습니다.

In [18]:
string02 = "12345"
comma= ","
comma.join(string02) #넣고자하는 값.join(인자값=적용하고자 하는 값)

'1,2,3,4,5'

In [22]:
data01 = " Dave "
data01.strip()

data02 = "       Dave02 " # lstrip 좌측 공백만 지움
data02.lstrip()

data03 = "      Dave03   " # rstrip 우측 공백만 지움
data03.rstrip()

'      Dave03'

In [28]:
string03 = "     999999999999(Dave)888888888    "
string03.strip(" 98()") # 여백+글자혹은 숫자 하면 싹다 지워짐 (그냥 하나하나 입력해주면 됨)

'Dave'

In [30]:
string04 = "Dave ID is dave"
string04.upper()  #대문자
string04.lower()  #소문자

'dave id is dave'

In [36]:
string06 = "Dave goes to Korea"
string06.split() [3]# 값을 아무것도 넣지 않으면 공백기준으로 됨.
string06.split(" ")

string07 = ("Dave/goes/to/Korea")
string07.split("/")

['Dave', 'goes', 'to', 'Korea']

#### 문자열 10,11,12,13,14 해당 값을 리스트 자료형태로 변환시켜보세요!!

In [63]:
data = "10, 11, 12, 13, 14"
data.strip()
data_list = [data.strip()]
type(data_list)
print(data_list)

['10, 11, 12, 13, 14']

In [50]:
string = "10, 11, 12, 13, 14"
split_string = string.split(",")
#print(split_string)

for index, split_item in enumerate(split_string) :
    split_string[index] = int(split_item)
print(split_string)

[10, 11, 12, 13, 14]

In [61]:
string08 = "Dave goes to Korea"
string08.replace("Dave", "David")

string09 = "(David)"
string09.replace("(", "")
string10 = "(David)"
string09.replace("()", "")

# Method Chaining
string11 = "(David)"
string11.replace("(","").replace(")","")

string12 = string11.replace("(","")
string12.replace(")","")

'David'